*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.header{
    width:100%;
    height:70px;
    background-color:#113E21;
    padding: 0 20px;
}
.header img{
    float: left;
    height:50px;
    width:50px;
    border-radius: 50%;
    cursor:pointer;
    line-height: 70px;
}
.header img:hover{
    transform: scale(1.2);
    border-radius: 20px;
}
.header .menu{
    list-style: none;
    float:right;
}
.menu li{
    display: inline-block;
    line-height: 70px;
}
.menu li a {
    text-decoration: none;
    padding: 0px 20px;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
}
.menu li a:hover{
        background-color:#B38B59;
        color:rgb(127, 237, 237);
        font-size: 20px;
        border-radius: 20px;
        padding: 10px;
        transition: 0.3s;
        text-shadow: 1px 2px rgb(21, 21, 21);
        transform: skew(5);

}
.show-btn:hover,.hide-btn:hover{
    color: bisque;
    transition: 0.3s;
}
.show-btn,.hide-btn{
    font-size: 25px;
    color: white;
    line-height: 70px;
    transition: 0.3s;
    display: none;
}
.show-btn{
    float: right;
}
#chk{
    position: absolute;
    visibility: hidden;
    z-index: -10;
}
.content{
    padding: 20px;
}
.content .banner{
    background-color: bisque;
    height: 100vh;
    width:100%;
    color: rgb(220, 58, 30);
    float:right;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7vh;
}

@media  (max-width:800px) {
    .show-btn,.hide-btn{
        display: block;
    }
    .menu{
        position: fixed;
        top:0px;
        right: -100%;   /* Slider Effect */
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.934);
        text-align: center;
        padding: 80px 0;
        transition: 0.6s;
        line-height: normal;
    }
    #chk:checked ~ .menu{
        right:0;
    }
    .menu li{
        display: block;
        padding: 15px 0px;
    }
    .hide-btn{
        position:absolute;
        right: 20px;
        top:5px
    }

}